<!DOCTYPE html>
<html>
<head>
	<title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<div>
<nav class="white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <img src="https://static1.squarespace.com/static/57764ef78419c2a6d6ac5ace/t/5915f68e725e25353cf564ce/1494611603680/the+guardian.jpg" style="margin-top: 0px"  alt="" class="">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <% if (lang == '') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">News</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Coding Tutorials<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Technology</a></li>
        <li><a href="/">Online Business</a></li>
      

      <% } %>
      
      <% if (lang == 'ru') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">Новости</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Туториали по Программированию<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Технологии</a></li>
        <li><a href="/">Интернет-бизнес</a></li>
      

      <% } %>

      <% if (lang == 'hi') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">समाचार</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">प्रोग्रामिंग ट्यूटोरियल<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">प्रौद्योगिकी</a></li>
        <li><a href="/">ऑनलाइन कारोबार</a></li>
      

      <% } %>

      <% if (lang == 'es') { %>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">Noticias</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Tutoriales de Programación<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Tecnología</a></li>
        <li><a href="/">Negocios en Línea</a></li>
      

      <% } %>

        <li><a class="dropdown-button" href="#" data-activates="change-lang">Change Language<i class="material-icons right">arrow_drop_down</i></a></li>

      </ul>

      <ul id="change-lang" class="dropdown-content">
        <li><a href="/<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" alt="flag" width="30px" style="margin-top: 5px"> English</a></li>
        <li><a href="/ru<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/archive/f/f3/20120812153730%21Flag_of_Russia.svg" alt="flag" width="30px" style="margin-top: 5px"> Russian</a></li>
        <li><a href="/hi<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/255px-Flag_of_India.svg.png" alt="flag" width="30px" style="margin-top: 5px"> Hindi</a></li>
        <li><a href="/es<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png" alt="flag" width="30px" style="margin-top: 5px"> Spanish</a></li>
      </ul>

      <ul id="change-lang-mobile" class="dropdown-content">
        <li><a href="<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" alt="flag" width="30px" style="margin-top: 5px"> English</a></li>
        <li><a href="/ru<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/archive/f/f3/20120812153730%21Flag_of_Russia.svg" alt="flag" width="30px" style="margin-top: 5px"> Russian</a></li>
        <li><a href="/hi<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/255px-Flag_of_India.svg.png" alt="flag" width="30px" style="margin-top: 5px"> Hindi</a></li>
        <li><a href="/es<%= page %>"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png" alt="flag" width="30px" style="margin-top: 5px"> Spanish</a></li>
      </ul>

      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/">HTML</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/">SASS</a></li>
        <li><a href="/">BOOTSTRAP</a></li>
        <li><a href="/">Javascript</a></li>
        <li><a href="/">ReactJS</a></li>
        <li class="divider"></li>
        <li><a href="/">C</a></li>
        <li><a href="/">NodeJS</a></li>
        <li><a href="/">Socket.IO</a></li>
        <li><a href="/">PHP</a></li>
        <li><a href="/">Laravel</a></li>
        <li><a href="/">MySQL</a></li>
      </ul>

      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="/">HTML</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/">SASS</a></li>
        <li><a href="/">BOOTSTRAP</a></li>
        <li><a href="/">Javascript</a></li>
        <li><a href="/">ReactJS</a></li>
        <li class="divider"></li>
        <li><a href="/">C</a></li>
        <li><a href="/">NodeJS</a></li>
        <li><a href="/">Socket.IO</a></li>
        <li><a href="/">PHP</a></li>
        <li><a href="/">Laravel</a></li>
        <li><a href="/">MySQL</a></li>
      </ul>


      <% if (lang == '') { %>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">News</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Coding Tutorials<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Technology</a></li>
        <li><a href="/">Online Business</a></li>
      

      <% } %>
      
      <% if (lang == 'ru') { %>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Новости</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Туториали<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Технологии</a></li>
        <li><a href="/">Интернет-бизнес</a></li>
      

      <% } %>

      <% if (lang == 'hi') { %>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">समाचार</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">प्रोग्रामिंग ट्यूटोरियल<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">प्रौद्योगिकी</a></li>
        <li><a href="/">ऑनलाइन कारोबार</a></li>
      

      <% } %>

      <% if (lang == 'es') { %>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Noticias</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Tutoriales<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Tecnología</a></li>
        <li><a href="/">Negocios en Línea</a></li>
      

      <% } %>

        <li><a class="dropdown-button" href="#" data-activates="change-lang-mobile">Language<i class="material-icons right">arrow_drop_down</i></a></li>

      </ul>


    </div>
  </nav>
</div>
          
  
