<% include partials/header.ejs %>

	  <div class="row row-padding">
	  	<% for (let i = 0, len = posts.length; i < len; i++) { %>
			<div class="col s12 m6 l3">
	          <div class="card">
	            <a href="
	            <%= lang %>/p/<%= posts[i].slug %>"><div class="card-image">
	              <img src="http://materializecss.com/images/sample-1.jpg">
	            
	              <% if (lang == '') { %>
	              <span class="card-title"><%= posts[i].title %></span>
	              <% } %>
	              <% if (lang == 'ru') { %>
	              <span class="card-title"><%= posts[i].title_ru %></span>
	              <% } %>
	              <% if (lang == 'hi') { %>
	              <span class="card-title"><%= posts[i].title_hi %></span>
	              <% } %>
	              <% if (lang == 'es') { %>
	              <span class="card-title"><%= posts[i].title_es %></span>
	              <% } %>
	              
	            

	            </div></a>
	            <div class="card-content">
	              <% if (lang == '') { %>
	              <p class="card-content"><%- posts[i].body.substr(0, 100) %>...</p>
	              <% } %>
	              <% if (lang == 'ru') { %>
	              <p class="card-content"><%- posts[i].body_ru.substr(0, 100) %>...</p>
	              <% } %>
	              <% if (lang == 'hi') { %>
	              <p class="card-content"><%- posts[i].body_hi.substr(0, 100) %>...</p>
	              <% } %>
	              <% if (lang == 'es') { %>
	              <p class="card-content"><%- posts[i].body_es.substr(0, 100) %>...</p>
	              <% } %>
	            </div>
	            <div class="card-action right-align">
	              <!-- <a href="/p/<%= posts[i].slug %>">Continue Reading</a> -->
	               <div class="chip">
				    #Tag
				  </div>
				  <div class="chip">
				    #Tag
				  </div>	
				  <div class="chip">
				    #Tag
				  </div>	
        
	            </div>
	          </div>
	        </div>
		<%	} %>
		
     
      </div>
            

<% include partials/footer.ejs %>
